:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-size: 16px;
    font-family: var(--fonte-principal);
    font-weight: 400;
}

.principal {
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat; 
    background-size: contain;
    align-items: center;
    text-align: center;
}

.conteiner {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.conteiner__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 1em;
    text-decoration: none;
    color: var(--branco-principal);
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.conteiner__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
    text-align: center;
}

.conteiner__imagem {
    margin: 1em 0 2em 0;
}

.conteiner__caixa {
    margin: 0 6em;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    /* font-size: 16px;
    font-weight: 400; */
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.conteiner__descricao {
    padding: 2em;
    /* margin-left: 5em; */
}
